.list-unstyled {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.link-plain {
    text-decoration: none;
    color: initial;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.mt-2 {
    margin-top: 0.75em;
}

.mb-2 {
    margin-top: 0.75em;
}

.mt-3 {
    margin-top: 1em;
}

.mb-3 {
    margin-bottom: 1em;
}

.text-right {
    text-align: right;
}